.formcloser-highlight {
    animation: 1s blink linear 3;
    -moz-animation: 1s blink linear 3;
    -webkit-animation: 1s blink linear 3;
    -o-animation: 1s blink linear 3;
    -ms-animation: 1s blink linear 3;
}
            
@keyframes blink {
    0% {background-color: transparent}
    17% {background-color: red}
    33% {background-color: transparent}
    50% {background-color: red}
    66% {background-color: transparent}
    83% {background-color: red}
    100% {background-color: transparent}
}

@-moz-keyframes blink {
    0% {background-color: transparent}
    17% {background-color: red}
    33% {background-color: transparent}
    50% {background-color: red}
    66% {background-color: transparent}
    83% {background-color: red}
    100% {background-color: transparent}
}

@-webkit-keyframes blink {
    0% {background-color: transparent}
    17% {background-color: red}
    33% {background-color: transparent}
    50% {background-color: red}
    66% {background-color: transparent}
    83% {background-color: red}
    100% {background-color: transparent}
}

@-o-keyframes blink {
    0% {background-color: transparent}
    17% {background-color: red}
    33% {background-color: transparent}
    50% {background-color: red}
    66% {background-color: transparent}
    83% {background-color: red}
    100% {background-color: transparent}
}

@-ms-keyframes blink {
    0% {background-color: transparent}
    17% {background-color: red}
    33% {background-color: transparent}
    50% {background-color: red}
    66% {background-color: transparent}
    83% {background-color: red}
    100% {background-color: transparent}
}